<!DOCTYPE html>
<title>This is about us page</title>
<style>
    body {
        background-image: url("/Images/AboutUs.jpg");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    h1{
        text-align: center;
        padding-top: 20px;
        font-size: 45px;
    }
    .p1{
        padding-top:17px;
        margin-right:100px;
        margin-left:100px;
        font-size: 25px;
        text-align: center;
    }


</style>
<html>

<body>
    <div>
    <h1><b>More about KhumaloCraft Emporium</b></h1>
    </div>
    <KhumaloCraft>
        <p class="p1">KhumaloCraft Emporium is originally founded by James Khumalo whose goal is to unite artisans from across the world, offering a huge variety of handcrafted products on one platform. KhumaloCraft's goal is to provide customers with a structured platform of products, each crafted with passion and expertise. By bringing together artisans and enthusiasts, we aim to encourage creativity and create strong bonds through the art of craftsmanship.</p>

    </div>
    

</body>
</html>