<!DOCTYPE html>
<title>This is contact page</title>
<style>
    body {
        background-image: url("/Images/ContactUs.jpg");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    h1 {
        
        text-align: center;
       padding-top: 20px;
        font-size: 45px;
    }

    .div1 {
        text-align: left;
        padding-top: 20px;
       
        font-size: 35px;
        float: left;
    }
    .div2{
        text-align:left;
        padding-top: 20px;
        font-size: 35px;
        
        float:right;

    }
    .div3{
        text-align: center;
        font-size: 20px;
        position:absolute;
        -webkit-text-fill-color: white;
        background-color: black ;
        width: 100%;
        height: 80%;
       
        left: 0px;
        padding: 0;
        margin-top: 300px;
        
        
        
        
    }
    .p4{
        margin-top: 10px;
    }

    .p2 {
       font-size:20px;
    }
    .p3{
        font-size:15px;
    }
    

</style>

<html>


<body>

    <h1><b>Contact Us</b></h1>

    <div class="div1">
    <p>
        <b>Problems or Questions:</b>
    </p>
    
    <p class="p2">
        If you have any problems or questions <br /> regarding a past order please contact <br /> customer support below.
    </p>
    <p class=" p3">
            <b>Phone:</b> 032 583 9920 <br />  <b>Email:</b> khumalocraftCustomerSupport@gmail.com <br />
    </p>

    </div>
   
    <div class=" div2">
        <p ><b>Sell on KhumaloCraft:</b></p>
        <p class="p2"> 
            If you would like to start selling your <br /> handcrafted products on KhumaloCraft <br />please contact our retail shop below.
        </p>
        <p class=" p3">
            <b>Phone:</b> 032 446 2351 <br />  <b>Email:</b> khumalocraftRetail@gmail.com <br />
        </p>
    </div>
    <div class="div3">

        <p class=" p4">Find our local retail shop at <b>19 Chapel road, Cape Town.</b> </p>
        <img src="/Images/Capture.PNG" height="500px" width="500px";/>

    </div>
</body>
</html>