@model int 

@{

    ViewData["Title"] = "Home Page";
    var UserID = ViewData["UserID"];
    var products = ViewData["Products"] as List<st10275468_CLDV6211_POE_ThomasK.Models.Products>;
    var UserName = ViewData["UserName"];
}



<!DOCTYPE html>
<title>Home Page</title>

<style>
    body {
        position: center;
        background-image: url("/Images/Homebackground.webp");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 50px;
    }

    .p1 {
        text-align: left;
        font-size: 20x;
        margin-left: 400px;
        margin-right: 200px;
        padding-top: 30px;
    }

    .p2 {
        text-align: left;
        font-size: 30px;
        margin-left: 400px;
        margin-right: 200px;
        padding-top: 50px;
    }

    p {
        text-align: center;
        color: black;
        font-size: 20px;
    }
    .input{
        
        font-size: 15px;
       padding-top:10px;
        margin-left: 400px;
      
       
    }

    .input2 {
        font-size: 15px;
        padding-top: 10px;
        margin-left: 400px;
        
    }
    .p4{
       padding-top:5px;
        margin-left: 400px;
       color: black;
        font-size: 20px;
    }
    .p5{
        padding-top: 20px;
        margin-left: 400px;
        color: black;
        font-size: 20px;
    }
    .error-message{
        font-size:20px;
        padding-left:400px;
        padding-top:10px;
        -webkit-text-fill-color:red;
    }
</style>

<html>

<body>
    
    
    <div>
    <h1><b>KhumaloCraft Emporium</b></h1>
    
    
    <p><em>Shop the Finest Handcrafted Goods</em></p>
    </div>

   
   
   


        @if (UserID == null)
        {
        <p class="p1">To access our full range of features or purchase products, please create an account or login below.</p>
            <div class="p4">

            <p4>Create an account:</p4>
            </div>
            <div class="input">
               
                <form asp-controller="User" asp-action="About" method="post">

                    <input type="text" name="Name" placeholder="Name" required>
                    <input type="text" name="Surname" placeholder="Surname" required>
                    <input type="text" name="Email" placeholder="Email" required>
                    <input type="text" name="Password" placeholder="Password" required>

                    <button type="submit">Submit</button></form>
            </div>
            <div class="p5"> 
            <p4>Login:</p4>
         </div>
            <div class="input2">
            <form asp-controller="Login" asp-action="Log" method="post">
                
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="password" placeholder="Password" required>
                <button type="submit">Submit</button>
            </form>
            </div>
        }
       
    
    @if (UserID != null)
    {
        <p class="p1">Welcome, @UserName! Discover what's new and enhance your experience with our latest features.</p>

    }
    @if (TempData["InvalidLogin"] != null && (bool)TempData["InvalidLogin"])
    {
        <div class="error-message">
            Invalid username or password. Please try again.
        </div>
    }
</body>

</html>



