@model List<st10275468_CLDV6211_POE_ThomasK.Models.MyProducts>
@{
    ViewData["Title"] = "MyProductsPage";
    var products = ViewData["MyProducts"] as List<st10275468_CLDV6211_POE_ThomasK.Models.MyProducts>;
}
<style>
    body {
        background-image: url("/Images/MyWorkBackground.jpg");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    td {
        border: 2px solid black;
    }

    th {
        border: 2px solid Black;
    }

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 50px;
    }

    table {
        background-color: floralwhite;
        font-size:20px;
    }
</style>
<h1><b>My uploaded products:</b></h1>
<body>
<tbody>
<table class="table">
    <thead>
        <tr style="border: 2px solid black;">
            <th><b>Product ID:</b></th>
            <th><b>Product:</b></th>
            <th><b>Price:</b></th>
            <th><b>Category:</b></th>
            <th><b>Stock:</b></th>
        </tr>
    </thead>
   
        @if (Model != null && Model.Count > 0)
        {

            @foreach (var product in Model)

            {
                <tr style="border: 2px solid black;">
                    <td>@product.ProductID</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Catagory</td>
                    @if(product.Availability == "True"){
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="3">No products found.</td>
            </tr>
        }
        </table>
        </body>