@model IEnumerable<st10275468_CLDV6211_POE_ThomasK.Models.Products>

@{
    ViewData["Title"] = "Insert new products";
    
}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is my work page</title>
    <style>
        body {
            background-image: url("/Images/MyWorkBackground.jpg");
            background-size: 100% 100vh;
            background-repeat: no-repeat;
        }

        h1 {
            text-align: center;
            padding-top: 20px;
            font-size: 60px;
        }

        h2 {
            text-align: center;
            margin-top: 50px;
        }

        p {
            font-size: 22px;
            text-align: center;
            padding-right: 200px;
            padding-left: 200px;
        }

        .div1 {
           
           
            margin:5px;
            padding-top: 30px;
            padding-left: 295px;
           
          
        }

        .div2 {
          
            padding-top: 30px;
            padding-left: 300px;
            
        }

        .p1 {
            font-size:25px;
          padding-right: 635px;
          
            
            padding-top: 50px;
            
           
        }
        .tbl{
            padding-left:300px;

        }





        div p {
            overflow: auto;
        }
    </style>
    </head>


<body>
    <h1><b>My Work:</b></h1>
    <p class="p1"><b>Upload new products:</b></p>
    <form asp-controller="Products" asp-action="MyWork" method="post" class="tbl">
        
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Catagory" placeholder="Category" required>
        <select name="Availability" required>
            <option value="0">Out of stock</option>
            <option value="1">In stock</option>
        </select>
        <button type="submit">Submit</button>

    </form>
   


    <div class="div1">
        <button onclick="MyProducts()">View my products</button>

        <script>
            function MyProducts() {

                window.location.href = 'MyProductsPage';
            }
        </script>
    </div>




   
    <div class="div2">
    <button onclick="ProductSales()">View my product sales</button>

    <script>
        function ProductSales() {
           
            window.location.href = 'ProductsOrders';
        }
    </script>
    </div>
   
</body>

